<div class="row">
    <div class="col mt-3 text-center">
        <h2>¡Por qué conocer más sobre nuestra página!</h2>
    </div>
 </div>
<div class="row mb-2">
    <div class="col text-center mt-3 mb-3">
        <h5>
            Te invito a conocer acerca de nuestra página de cursos online <br>
            Soy Vanessa Campuzano
        </h5>
    </div>
</div>

<div class="row mb-4">
    <div class="col mt-3 text-center">
        <h2>Misión y Visión</h2>
    </div>
 </div>

 <div id="carouselExampleSlidesOnly" class="carousel slide mb-4" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img1.jpeg" class="d-block w-100" style="height: 270px;" alt="...">
        </div>
       
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
            <div class="card-header border-primary">Nuestra Misión</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">
                    Los cursos online en esta pandemia lo que aspira es hacer un espacio interactivo para niños de las diferentes edades, que deseen registrarse en las actividades que ofrecemos
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
        <div class="card bg-light mb-3 contor" >
            <div class="card-header border-primary">Nuestra Visión</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">
                    Creemos que una educación adaptiva es la clave para el desarrollo de los niños, esta página brinda un nivel de aprendizaje en las diferentes actividades a registrarse.
                </p>
            </div>
        </div>
    </div>
   
    
</div>
