<div class="row">
    <div class="col text-center mb-3">
        <h3 class="titulo">Registrate ya!, en alguna competencia virtual</h3>
    </div>
</div>
<main>

    
</main>
    <div class="row mb-4">
         {{#each Comp}}
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <img src={{url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{desc}}</p>
                    
                    <a href="/users/formulario" type="button" class="btn btn-outline-info btn-block ">
                        Regístrate
                    </a>
                     <div class="card-footer text-muted">
                        {{edades}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
     {{!-- <div class="row btnSecundario">
        <div class="col-sm-12 col-md-6 mt-3 uno">
            <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block">
                Iniciar Sesión
            </a>
        </div>
        <div class="col mt-3 dos">
            <a href="/users/signup" type="button" class="btn btn-outline-info btn-block ">
                Regístrate
            </a>
        </div>
    </div> --}}

    <div class="col-md-4 mx-auto mt-4">
        <a href="/users/signin" type="button" class="btn btn-outline-secondary btn-block">
                Iniciar Sesión Admin
            </a>
    </div>