* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background: url('/assets/bg_puple.png'); */
    background-size: cover;
    background-attachment: fixed;
}


/* ================================
            Header
================================ */

.titulo {
    margin-top: 20px;
    margin-bottom: 0;
}

.logo {
    margin-top: 0px;
}

.logo h1 {
    color: #262744;
    font-weight: 600;
    position: absolute;
    z-index: 0;
    margin-left: 10px;
    margin-top: 31px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.nom {
    margin-left: 0px;
    margin-bottom: 0px;
}

.menu a {
    margin: 0 5px;
}

nav ul {
    margin-right: 60px;
}

nav ul li a {
    /* color: #f2f2f2; */
    color: #332525;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: rgb(25, 100, 185);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* ================================
            Main
================================ */

.btnRe,
.btnIni {
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px 30px 30px 30px;
}

.btnSecundario {
    margin: 70px 100px 0px 100px;
    border-radius: 30px 30px 30px 30px;
}

.contor {
    /* padding: 15px; */
    box-shadow: 0 0 20px 0 rgba(38, 79, 141, 0.582);
}

footer {
    margin-top: 50px;
    text-align: center;
}

@media screen and (max-width: 1198px) {
    /* ================================
                Header
    ================================ */
    .logo {
        width: 80px;
        height: 80px;
    }
    .logo h1 {
        color: #262744;
        font-weight: 500;
        margin-top: 20px;
    }
    .logo img {
        width: 80px;
        height: 80px;
    }
    .titulo {
        margin-top: 30px;
    }
    .menu {
        margin-top: 25px;
    }
    nav ul {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px) {
    /* ================================
                Header
    ================================ */
    /* body {
        background: url('/assets/bg_gradiente.png');
        background-size: cover;
        background-attachment: fixed;
    } */
    .logo {
        width: 60px;
        height: 60px;
    }
    .logo h1 {
        margin: 12px 0px 0px 10px;
    }
    .logo img {
        width: 70px;
        height: 70px;
    }
    .menu {
        margin-top: 25px;
    }
    .menu a {
        color: #262744;
    }
}

@media screen and (max-width: 990px) {
    /* ================================
                Header
    ================================ */
    .logo h1 {
        font-weight: 400;
        font-size: 30px;
        margin-top: 20px;
    }
    .menu {
        margin-top: 30px;
    }
    .navbar-nav {
        display: inline-block;
    }
    /* #navbarNav {
        display: inline-block;
    } */
    nav ul {
        float: right;
    }
    nav ul li {
        display: inline-block;
        /* margin: 0 2px; */
    }
}

@media screen and (max-width: 768px) {
    /* ================================
                Header
    ================================ */
    .titulo {
        margin-top: 0;
        font-size: 25px;
    }
    .navbar {
        padding: 0;
    }
    .checkbtn {
        display: block;
        margin-right: 40px;
    }
    .menu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #60498a; */
        /* background: #8A0085; */
        background: rgba(53, 130, 182, 1);
        background: -moz-linear-gradient(left, rgba(53, 130, 182, 1) 0%, rgba(103, 19, 151, 1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(53, 130, 182, 1)), color-stop(100%, rgba(103, 19, 151, 1)));
        background: -webkit-linear-gradient(left, rgba(53, 130, 182, 1) 0%, rgba(103, 19, 151, 1) 100%);
        background: -o-linear-gradient(left, rgba(53, 130, 182, 1) 0%, rgba(103, 19, 151, 1) 100%);
        background: -ms-linear-gradient(left, rgba(53, 130, 182, 1) 0%, rgba(103, 19, 151, 1) 100%);
        background: linear-gradient(to right, rgba(53, 130, 182, 1) 0%, rgba(103, 19, 151, 1) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#8a0085', GradientType=1);
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
        /* display: block;
        margin: 30px 0;
        line-height: 30px;
        font-size: 20px; */
    }
    .checkbtn {
        margin-top: 6px;
    }
    #check:checked~ul {
        left: 0;
    }
    /* .btnRe,
    .btnIni {
        margin-top: 70px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 30px 30px 30px 30px;
    } */
    .btnSecundario {
        margin-top: 50px;
    }
}

@media screen and (max-width: 578px) {
    .logo img {
        margin-left: 40px;
    }
    .logo h1 {
        font-size: 25px;
    }
    .checkbtn i {
        margin-right: 25px;
    }
    .btnSecundario {
        margin-top: 30px;
    }
    .photeI {
        height: 200px;
        border: #0082e6;
    }
}

@media screen and (max-width: 500px) {
    .logo img {
        margin-left: 50px;
    }
    .btnSecundario {
        margin-top: 0px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 404px) {
    .titulo {
        margin-left: 10px;
    }
    .logo img {
        margin-left: 15px;
    }
    .checkbtn i {
        margin-right: 15px;
    }
}