<div class="row mt-2 mb-4">
    <div class="col text-center">
        <h2>Participantes a postular!</h2>
    </div>
</div>




<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nombre</th>
      <th scope="col">Cédula</th>
      <th scope="col">Estado</th>
      <th scope="col">Competencia</th>
      <th scope="col">Edad</th>
    </tr>
  </thead>
  <tbody>
        {{#each form}}

    <tr>
      <th scope="row">
          <a href="/notes/editP/{{_id}}">
                <i class="fa fa-edit"></i>
            </a>
      </th>
      <td>{{name}}</td>
      <td>{{iden}}</td>
      <td>{{estado}}</td>
      <td>{{comp}}</td>
      <td>{{edades}}</td>
    </tr>
          {{/each}}

   
  </tbody>
</table>