<link rel="stylesheet" href="/css/signup.css">

<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="card">
            <div class="enlace">
                    <a href="/">- Regresar</a>
                </div>
            <div class="arribaR">
                <h6 class="txt">Postulación usuario</h6>
                <h3 class="bienvenido">Regístrate</h3>
                <img src="/assets/user.svg" alt="" class="imgUser">
            </div>
             <div class="card-body">
                    <form action="/users/formulario" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombres Completos" class="form-control" value="{{name}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="number" name="iden" placeholder="Cédula" class="form-control" value="{{iden}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control" value="{{email}}">
                        </div>
                        <div class="form-group">
                            {{!-- <label for="exampleFormControlSelect1">Example select</label> --}}
                            <select class="form-control" id="exampleFormControlSelect1" name="comp">
                                {{#each notes}}
                            <option>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" name="edades" placeholder="Edad" class="form-control" value="{{edades}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="estado" placeholder="Estado" class="form-control" value="En espera" autofocus disabled>
                        </div>
                       
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success btn-block registrar">
                                Registrate
                            </button>
                        </div>
                    </form>
                        <p class="condiciones text-center">
                            Al crear tu cuenta también aceptas nuestros terminos y condiciones.
                        </p>
            </div>
        </div>
    </div>
</div>
